<launch>
  <!-- Testrig node -->
  <node name="motor_controller" pkg="testrig" type="motor_controller_node" output="screen" />

  <!-- Arduino connection node -->
  <node name="arduino_motor_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <!-- change arduino port accordingly -->
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>

</launch>
